<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242584617590-ng3fcu95f2qa4hj9c8kc8cdpg50nqvvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242584617590-ng3fcu95f2qa4hj9c8kc8cdpg50nqvvl</string>
	<key>API_KEY</key>
	<string>AIzaSyB3WTgffZtCx4YT2HH61mfd5zQbbl0TkgM</string>
	<key>GCM_SENDER_ID</key>
	<string>242584617590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.meetnow</string>
	<key>PROJECT_ID</key>
	<string>meetnow-dc908</string>
	<key>STORAGE_BUCKET</key>
	<string>meetnow-dc908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242584617590:ios:a6bae4220fab0bccbd1557</string>
	<key>DATABASE_URL</key>
	<string>https://meetnow-dc908.firebaseio.com</string>
</dict>
</plist>